@import "assets/scss/index.scss";

.project-create-form-body {
  @extend .mt-10, .mb-10;
}

.project-create-form-buttons {
  @extend .d-flex, .justify-content-end;
}

.project-create-form-spinner-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  margin: 0;
  
}