@import "assets/scss/index.scss";

.project-list-item {
  height: 40px;
  &:not(:last-child) {
    border-bottom: 1px solid #0dc5c1;
  }
}

.project-list-header {
  @extend .d-flex, .align-items-center;

  & > .ui-panel-header-title {
    @extend .mr-10;
  }
}

.project-list-table {
  width: 100%;
}
