@import '~bootstrap/scss/bootstrap';

.auth-form {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
}

@for $i from 1 through 20 {
  .mt-#{$i} { 
    margin-top: #{$i}px;
  }

  .mr-#{$i} { 
    margin-right: #{$i}px;
  }

  .mb-#{$i} { 
    margin-bottom: #{$i}px;
  }

  .ml-#{$i} { 
    margin-left: #{$i}px;
  }
}

@for $i from 1 through 30 {
  .fs-#{$i} { 
    font-size: #{$i}px;
  }
}

@for $i from 1 through 9 {
  $value: $i*100;
  .fw-#{$value} { 
    font-weight: $value;
  }
}